/*

Typography is the way that text 
is arranged and presented.

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; /* Quotes aroud the name of fonts that has spacing */
    /* We should use web safe fonts - that are usually already installed to the computer. */
}
/* fun fact: monospace font has the same spacing for every character */

/* input, button {
    font: inherit; /* font configuration is not inherited inside of a form
} */

p {
    /* text-decoration: underline; */
    /* text-transform: capitalize; */
    /* text-align: justify; */
    text-indent: 2em;
    line-height: 1.3;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */
    font-weight: normal; /* Normal is around 300 - 400 */
    font-style: oblique; /* oblique is a stroger italic */
}