/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Sizes calculations includes the content + padding + border instead of only content-box (default) */
}

/* 
    CSS is based on boxes (They are the boxes that we see in the devtools).
    Content < Padding < Border < Margin
*/

.container {
    /* width: 400px; Interesting to test box-sizing */
    border: 8px outset red;
    font-size: 1.5rem;
    margin: 1.5em 2em 3em 4em; /* top, right, bottom, left (clockwise) */
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    padding: 1.5em 2em 3em 4em;
    outline: 5px solid purple; /* It's not calculated in the box model */
    outline-offset: -15px;
}

.circle {
    margin: 3rem auto; /* cente horizontally (auto on left and right) */
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50px; /* Half of the width and half of the height */
    outline: 2px solid red;
    outline-offset: 0.25 rem;
}